<!DOCTYPE html>
<html xmlns:font-size="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Курс "{{ course.title }}"</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">

    <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css'>

    <link rel="stylesheet" href="../static/index.css">


</head>

<body>

    <div class="header">
        <div class="header_items">
            <a class="headline" href="http://127.0.0.1:5000/">Онлайн курсы Егора</a>
            <a class="courses" href="http://127.0.0.1:5000/courses">Курсы</a>
            {% if current_user.is_authenticated %}
            <a href="http://127.0.0.1:5000/logout" class="login_button">Выйти</a>
            {% else %}
            <a href="http://127.0.0.1:5000/login" class="login_button">Войти</a>
            {% endif %}
        </div>

    </div>
    <div class="main">
        <h1 align="center" style="font-size:40px;">Курс "{{ course.title }}"</h1>
        <br>
        <p class="text_about">
            {{creator}}
        </p>
        <p class="text_about">
            {% for line in description %}
            <p>{{ line }}</p>
            {% endfor %}
        </p>

        <br>
        <p class="text_about">
            Длительность: {{course.duration}}
        </p>
        {% if current_user.is_authenticated %}

            {% if current_user.courses and course_id in current_user.courses %}
                <a>Вы зарегистрированы на курс</a>
                <br>
                {% for file in files %}
                <a href="http://127.0.0.1:5000/download/{{ course_id }}/{{file}}" download="">Теория</a>
                <br>
                {% endfor %}
                <a href="http://127.0.0.1:5000/leave_course/{{course.id}}" class="button">Отписаться</a>
                {% else %}
                <a href="http://127.0.0.1:5000/join_course/{{course.id}}" class="button">Поступить</a>
            {% endif %}
        {% endif %}

    </div>
</body>
</html>