
<!DOCTYPE html>
<html xmlns:font-size="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Регистрация</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">

    <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css'>

    <link rel="stylesheet" href="../static/style.css">


</head>

<body>


<div class="wrapper">
    <div class="header">
        <h1 class="headline">Онлайн курсы Егора Лихверова</h1>
        <h3 class="sign-in">Регистрация</h3>
    </div>
    <div class="clear"></div>
    <form action="" method="post">

        <input type="email" class="email" name="email" id="email" placeholder="email"/>



        <input type="password" name="password" id="password" placeholder="Пароль"/>
        <input type="password" name="password2" id="password2" placeholder="Повторите пароль"/>
        <input name="name" id="name" placeholder="Имя пользователя"/>

        <input type="submit" value="Зарегистрироваться"/>
        <center class="message">{{ message }}</center>

    </form>
</div>

</body>
</html>
